html {/*Selector del elemento html los elementos hijos heredaran sus propiedades*/
    box-sizing: border-box;/*propiedad y valor que hace que el padding y el border pasen a formar parte del cálculo del ancho de la caja sin hacer calculos adicionales */
    font-family: sans-serif;/*propiedad y valor que ajusta el tipo de letra */
    font-size: 16px;/*propiedad y valor que ajusta el tamaño de letra */
}

body {
    margin: 0;
}

main {/*Selector de la elemento main los elementos hijos heredaran sus propiedades*/
    display: flex;/*propiedad y valor que inicializa el uso de flexbox*/
    flex-direction: column;/*propiedad  que direcciona el uso de flexbox de acuerdo al valor indicado*/
    justify-content: center;/*propiedad y valor que ajusta la posicion del contenido horizontalmente*/
    align-items: center;/*propiedad y valor que ajusta la posicion del contenido verticalmente*/
    text-align: center;/*propiedad y valor que ajusta la posicion del texto dentro del elemento*/
    min-height: 100vh;/*propiedad que indica la altura minima del elemento*/
}

progress {
    margin-top: 1rem;
}