<div class="container mt-4"> <!-- Agregado clase container y margen superior -->

    <h1 class="text-center text-warning">{{title()}}</h1><!-- Agregado clases de Bootstrap para centrar y colorear el título -->
</div>



<app-listado-productos /> <!-- Componente de listado de productos -->

<app-hijo-dos/> <!-- Componente hijo -->

<app-mostrar-mensaje /> <!-- Componente para mostrar mensaje -->

<app-replicador /> <!-- Componente replicador -->

<app-saludar /> <!-- Componente saludar -->

<app-calculadora-app /> <!-- Componente calculadora -->

<app-componente-if /> <!-- Componente con directiva *ngIf -->

<app-agregar-tarea /> <!-- Componente para agregar tareas -->

<app-componente-for /> <!-- Componente con directiva *ngFor -->

<app-padre /> <!-- Componente padre -->

<app-view-child-component /> <!-- Componente que utiliza ViewChild para acceder al DOM -->

{{mensaje}} <!-- Muestra el mensaje obtenido del servicio Mensaje -->


<app-ejemplo-pipes /> <!-- Componente que muestra el uso de pipes -->

<app-presupuesto /> <!-- Componente de presupuesto -->

<app-navegacion /> <!-- Componente de navegación -->

<router-outlet /> <!-- Punto de anclaje para las rutas definidas en la aplicación -->