<div class="container mt-4"> <!-- Agregado clase container y margen superior -->

    <h1 class="text-center text-warning">{{title()}}</h1><!-- Agregado clases de Bootstrap para centrar y colorear el título -->
</div>


<app-componente-en-linea />

<app-interpotacion /> <!-- Agregado el componente de interpolación -->

<app-padre /> <!-- Agregado el componente padre -->


<h1>RETO</h1>

<h1 class="text-center text-success">Tienda Online</h1> <!-- Título centrado y en color verde -->

<app-listado-productos /> <!-- Componente de listado de productos -->

<app-hijo-dos/> <!-- Componente hijo -->

<app-mostrar-mensaje /> <!-- Componente para mostrar mensaje -->

<app-replicador /> <!-- Componente replicador -->

<app-saludar /> <!-- Componente saludar -->

<app-calculadora-app /> <!-- Componente calculadora -->

<app-componente-if /> <!-- Componente con directiva *ngIf -->

<app-agregar-tarea /> <!-- Componente para agregar tareas -->

<app-componente-for /> <!-- Componente con directiva *ngFor -->

<app-listado-productos /> <!-- Componente de listado de productos -->

<app-padre /> <!-- Componente padre -->

<app-view-child-component /> <!-- Componente que utiliza ViewChild para acceder al DOM -->
