
<app-header></app-header>
<app-header></app-header>
<app-header></app-header>

<!-- -----------------------------------------VARIABLES-------------------------------------- -->

<h1>variables</h1>
<h1>username {{userName}}</h1><!-- se agrega la variable userName al html para mostrar el nombre de usuario -->
<input type="text" [value]="userName" /><!-- se agrega un input para cambiar el nombre de usuario data binding unidireccional -->

<!-- -----------------------------------------FUNCTIONS-------------------------------------- -->

<h1>Functions</h1>
<h2>number {{number}}</h2><!-- se agrega la variable number al html para mostrar el numero -->
<button (click)="addOne()">Add 1</button><!-- se agrega un boton que aumenta en 1 el valor de la variable number -->

<!-- -----------------------------------------DOUBLE DATA binding-------------------------------------- -->

<h1>Double data binding</h1>
<h1>username {{userName}}</h1><!-- se agrega la variable userName al html para mostrar el nombre de usuario -->
<input type="text" [(ngModel)]="userName" /><!-- se agrega un input para cambiar el nombre de usuario data binding bidireccional -->

<!-- -----------------------------------------@if-------------------------------------- -->
<h1>Bloque if</h1>
 @if (condition) { <!-- se agrega una condicion if que evalua si la variable number es verdadera o falsa -->
    <h2>La condición se cumple</h2>
    
    } @else{
        
        <h2>La condición no se cumple</h2>
 } 
 
 <!------------------------------------------@for------------------------------------->

 <h1>Bloque for</h1> 
 <h2>Peliculas</h2>
@for (pelicula of peliculas; track $index) {<!-- se agrega un bloque for que itera sobre la variable peliculas y muestra el indice y el nombre de la pelicula -->
    <h3>{{$index}} - {{pelicula}}</h3>
}

<h2>Animales</h2>
<ul>
    
    @for (animal of animals; track animal.id) { <!-- se agrega un bloque for que itera sobre la variable animals y muestra el id y el nombre del animal -->
        <ol>
            <h3>{{animal.id}} - {{animal.name}}</h3>
            <h4>{{animal.species}}</h4>
            <button [title]="animal.species"></button>
        </ol>
        
    }
</ul>

<!-- -----------------------------------------@input-------------------------------------- -->

<h1>@input</h1> 


<app-child [msg]="userName"></app-child>

<!-- -----------------------------------------@input con signal-------------------------------------- -->

<h1>@input con signal</h1> 


<app-child [message]="userName"></app-child>


<!-- -----------------------------------------@output-------------------------------------- -->

<h1>@Ouput</h1> 

<h2>Hola {{name}}</h2>

<app-child (login)="setName($event)" ></app-child><!-- se agrega el componente hijo y se le pasa la funcion setName que recibe el dato del componente hijo -->

<!-- -----------------------------------------@output con signal-------------------------------------- -->

<h1>@Ouput con signal</h1> 

<h2>Hola {{name}}</h2>

<app-child (login)="setName($event)" ></app-child><!-- se agrega el componente hijo y se le pasa la funcion setName que recibe el dato del componente hijo -->

<!-- -----------------------------------------ngClas-------------------------------------- -->

<h1>ngClass</h1> 

<h2 [ngClass]="{dark: isDark, big:true}">Hola a todos</h2> <!-- se agrega la directiva ngClass que aplica las clases dark y big a el h2 -->

<button (click)="toogleDark()">toogleDark</button> <!-- se agrega un boton que cambia el valor de la variable isDark -->


<!-- -----------------------------------------reactiveForms Validators-------------------------------------- -->

<h1>Reactive Forms , Validators</h1>

<form [formGroup]="movieForm" (submit)="handleSubmit()"> <!-- se agrega el formulario y se le asigna el formGroup movieForm mas el evento submit que llama a la funcion handleSubmit() -->
    <fieldset>
        
        <label for="movie-name">Name</label>
        <input type="text" formControlName="movieName" id="movie-name"><br><!-- se agrega el input y se le asigna el formControlName name -->
        @if (movieName.invalid && movieName.touched) {<!-- se agrega una condicion if que evalua si el control del formulario es invalido y ha sido tocado -->
            <p class="form-error">Name is required</p>
        }
    </fieldset>
    
    <fieldset>
        
        <label for="movie-duration">Duration</label>
        <input type="text" formControlName="duration" id="movie-duration"><br><!-- se agrega el input y se le asigna el formControlName duration -->
        @if (duration.hasError("required") && duration.touched) {<!-- se agrega una condicion if que evalua si el control del formulario es invalido y ha sido tocado -->
            <p class="form-error">Duration is required</p>
        } @else if (duration.hasError("max")) {<!-- se agrega una condicion else if que evalua si el control del formulario tiene el error max -->
            <p class="form-error">Duration cannot be more than 300 minutes</p>
        }
    </fieldset>
    
    <fieldset>
        
        <label for="movie-director">Director</label>
        <input type="text" formControlName="director" id="movie-director"><br><!-- se agrega el input y se le asigna el formControlName director -->
    </fieldset>
    
    <button [disabled]="movieForm.invalid" >Create movie</button><!-- se agrega el boton que envia el formulario y se deshabilita si el formulario es invalido -->
    
</form>

<!-- -----------------------------------------Services-------------------------------------- -->

<h1>Services</h1>

<div>
    <h2>llamado al service</h2>
    <h3>{{productService.product.name}}</h3><!-- se muestra el nombre del producto desde el servicio -->
    <h3>{{productService.product.price}}</h3>
    <h3>{{productService.product.isForSale}}</h3>
    <button (click)="productService.setProdcuctName('Television')">Cambiar nombre</button><!-- se agrega un boton que cambia el nombre del producto desde el servicio a todas las instancias -->
</div>

<!-- -----------------------------------------Router para usar SPA-------------------------------------- -->
<h1>Router para usar SPA</h1>

<router-outlet> </router-outlet> <!-- se agrega el router outlet para usar rutas y hacer una SPA -->

<!-- -----------------------------------------Routerlink-------------------------------------- -->
<h1>Router link</h1>

<a routerLink="/home"> Home</a><br><!-- se agrega un enlace que redirige a la ruta /home -->
<a routerLink="/movies"> Movies List</a><br><!-- se agrega un enlace que redirige a la ruta /movies -->
<a routerLink="/create"> Movie form page</a><br><!-- se agrega un enlace que redirige a la ruta /create -->

<router-outlet> </router-outlet> <!-- se agrega el router outlet para usar rutas y hacer una SPA -->

<!-- -----------------------------------------Rutas Parametricas-------------------------------------- -->