<mat-card class="example-card" appearance="outlined"><!-- uso de el componente mat-card de angular material -->
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div><!-- avatar de la tarjeta -->
        <!-- uso de el operador safe navigation que sirve para evitar errores en tiempo de ejecucion si la propiedad es null o undefined -->
        <mat-card-title>
            <mat-form-field class="example-form-field">
                <mat-label>{{note()?.id}}</mat-label>
                <input matInput type="text" [value]="note()?.title" (input)="updateTitle(note()?.id, $event)"/><!-- uso de property binding para bindear el valor de la nota al input si no es null o undefined -->
            </mat-form-field>
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <p>
            description note or content
        </p>
    </mat-card-content>
    <mat-card-actions>
        <input  type="checkbox" [checked]="note()?.marked" (input)="updateMarked(note()?.id)"/> <!--uso de property binding para bindear el valor de la nota al checkbox  si no es null o undefined -->
        <!-- uso de el operador safe navigation "?" que sirve para evitar errores en tiempo de ejecucion si la propiedad es null o undefined -->
    </mat-card-actions>
</mat-card>