<mat-card class="example-card" appearance="outlined"><!-- uso de el componente mat-card de angular material -->
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div><!-- avatar de la tarjeta -->
        <!-- uso de el operador safe navigation que sirve para evitar errores en tiempo de ejecucion si la propiedad es null o undefined -->
        <mat-card-title>
            <mat-form-field class="example-form-field">
                <mat-label>Clearable input</mat-label>
                <input matInput type="text" [(ngModel)]="value">
                @if (value) {
                <button matSuffix matIconButton aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                </button>
                }
            </mat-form-field>

            {{note()?.title}}</mat-card-title>
        <mat-card-subtitle>{{note()?.id}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>
            description note or content
        </p>
    </mat-card-content>
    <mat-card-actions>
        <input type="checkbox" [checked]="note()?.marked" />
        <!-- uso de el operador safe navigation que sirve para evitar errores en tiempo de ejecucion si la propiedad es null o undefined -->
    </mat-card-actions>
</mat-card>