<!-- -----------------------------------------Routerlink-------------------------------------- -->
 <!-- -----------------------------------------Router para usar SPA-------------------------------------- -->

<h1>Router link</h1>
<ul>
    <li><a routerLink="/home"> Home</a><br><!-- se agrega un enlace que redirige a la ruta /home --></li>
    <li><a routerLink="/movies"> Movies List</a><br><!-- se agrega un enlace que redirige a la ruta /movies --></li>
    <li><a routerLink="/create"> Movie form page</a><br><!-- se agrega un enlace que redirige a la ruta /create --></li>
    <li><a routerLink="/users"> Users desde Api</a><br><!-- se agrega un enlace que redirige a la ruta /create --></li>
</ul>





